In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# load multiple csv's, add a new column to each csv to distinguish the corresponding cities in the final combined csv and then combine csv's into one

In [4]:
#load csvs 
city1_data = pd.read_csv('amsterdam_weekdays.csv')
city2_data = pd.read_csv('athens_weekdays.csv')
city3_data = pd.read_csv('barcelona_weekdays.csv')
city4_data = pd.read_csv('berlin_weekdays.csv')
city5_data = pd.read_csv('budapest_weekdays.csv')
city6_data = pd.read_csv('lisbon_weekdays.csv')
city7_data = pd.read_csv('london_weekdays.csv')
city8_data = pd.read_csv('paris_weekdays.csv')
city9_data = pd.read_csv('rome_weekdays.csv')
city10_data = pd.read_csv('vienna_weekdays.csv')

#Add in new city column to each csv with corresponding city names
city1_data = city1_data.assign(city='amsterdam')
city2_data = city2_data.assign(city='athens')
city3_data = city3_data.assign(city='barcelona')
city4_data = city4_data.assign(city='berlin')
city5_data = city5_data.assign(city='budapest')
city6_data = city6_data.assign(city='lisbon')
city7_data = city7_data.assign(city='london')
city8_data = city8_data.assign(city='paris')
city9_data = city9_data.assign(city='rome')
city10_data = city10_data.assign(city='vienna')

#combine all files into one csv
allcity_data = pd.concat([city1_data, city2_data, city3_data, city4_data, city5_data, city6_data, city7_data, city8_data, city9_data, city10_data], ignore_index=True)

allcity_data.drop(['attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm', 'lng', 'lat'], axis=1, inplace=True)

#save new csv called allcity.csv
allcity_data.to_csv('allcity.csv')

In [5]:
#read new csv
allcity_data = pd.read_csv('allcity.csv')

In [6]:
# drop unnecessary columns
#allcity_data.drop(['Unnamed: 0.1', 'Unnamed: 0','attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm', 'lng', 'lat'], axis=1, inplace=True)

In [7]:
# reorder csv to have the city column at the beginning
allcity_data = allcity_data[['city', 'realSum', 'room_type', 'room_shared','room_private', 'person_capacity', 'host_is_superhost', 'multi', 'biz', 'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist', 'metro_dist']]

In [48]:
allcity_data.head()

,city,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist
0,amsterdam,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380
1,amsterdam,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404
2,amsterdam,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621
3,amsterdam,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876
4,amsterdam,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693

In [35]:
allcity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   city                        25500 non-null  object
 1   realSum                     25500 non-null  float64
 2   room_type                   25500 non-null  object
 3   room_shared                 25500 non-null  bool
 4   room_private                25500 non-null  bool
 5   person_capacity             25500 non-null  float64
 6   host_is_superhost           25500 non-null  bool
 7   multi                       25500 non-null  int64
 8   biz                         25500 non-null  int64
 9   cleanliness_rating          25500 non-null  float64
 10  guest_satisfaction_overall  25500 non-null  float64
 11  bedrooms                    25500 non-null  int64
 12  dist                        25500 non-null  float64
 13  metro_dist                  25500 non-null  float64
dtypes: bool(3), float64(6), int64(3), object(2)
memory usage: 2.2+ MB

In [9]:
allcity_data['city'].value_counts()

london       4614
rome         4492
paris        3130
lisbon       2857
athens       2653
budapest     2074
vienna       1738
barcelona    1555
berlin       1284
amsterdam    1103
Name: city, dtype: int64

In [10]:
is_superhost = allcity_data['host_is_superhost'].value_counts()[True]
print(is_superhost)

6592

In [11]:
not_superhost=allcity_data['host_is_superhost'].value_counts()[False]
print(not_superhost)

18908

In [12]:
is_shared=allcity_data['room_shared'].value_counts()[True]
print(is_shared)

180

In [22]:
not_shared=allcity_data['room_shared'].value_counts()[False]
print(not_shared)

25320

In [23]:
allcity_data['room_type'].value_counts()

Entire home/apt    15994
Private room        9326
Shared room          180
Name: room_type, dtype: int64

In [24]:
room_data = allcity_data['room_type'].value_counts()['Entire home/apt']
print(room_data)

15994

In [25]:
room_data = allcity_data['room_type'].value_counts()['Private room']
print(room_data)

9326

In [26]:
room_data = allcity_data['bedrooms'].value_counts()
print(room_data)

1     17808
2      4634
0      2208
3       791
4        47
9         5
5         4
6         1
10        1
8         1
Name: bedrooms, dtype: int64

In [41]:
allcity_data.head()

,city,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist
0,amsterdam,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380
1,amsterdam,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404
2,amsterdam,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621
3,amsterdam,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876
4,amsterdam,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693

In [50]:
#price_count = allcity_data[(allcity_data['realSum'] == "amsterdam")].mean()
price_count = allcity_data[allcity_data['city'] == "amsterdam"]['realSum'].mean()
price_count

545.0205264394508